html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

    body {
      margin: 0;
      padding: 0; }

      nav.navbar {
        margin-bottom: 30px; }

        .task {
          position: relative;
          padding: 30px; }
          .task .actions {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px; }
