html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

    .nodisplay {
      display: none !important; }

      body {
        margin: 0;
        padding: 0; }
        body section#content {
          padding-top: 80px; }

nav.navbar {
  margin-bottom: 30px; }
  nav.navbar a, nav.navbar label {
    cursor: pointer; }
    nav.navbar .dropdown-toggle {
      margin-bottom: 0; }

.task {
  position: relative;
  padding: 10px 40px 20px 40px; }
  .task .actions {
    z-index: 1;
    text-align: right;
    margin-bottom: 20px; }
    .task .date-container {
      font-size: 10px;
      text-align: right;
      color: #666;
      padding-top: 10px; }

.new-task {
  padding: 50px 60px 20px 60px; }
  .new-task input#title, .new-task textarea#description {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none; }
    .new-task input#title {
      width: 80%; }
      .new-task textarea#description {
        width: 100%;
        min-height: 50px; }
        .new-task .form-error {
          color: red; }
