/* mixins */
@mixin appearence($value) {
  -webkit-appearance:     $value;
  -moz-appearance:        $value;
  -ms-appearance:         $value;
  -o-appearance:          $value;
  appearance:             $value;
}


/* page formatting */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.nodisplay {
  display:none !important;
}


/* content formatting */
body {
  margin: 0;
  padding: 0;

  section#content {
    padding-top: 80px;
  }
}

nav.navbar {
  margin-bottom: 30px;

  a, label {
    cursor: pointer;
  }

  .dropdown-toggle {
    margin-bottom: 0;
  }
}

.task {
  position: relative;
  padding: 10px 40px 20px 40px;

  .actions {
    z-index: 1;
    text-align: right;
    margin-bottom: 20px;
  }

  .date-container {
    font-size: 10px;
    text-align: right;
    color: #666;
    padding-top: 10px;
  }
}

.new-task{
  padding: 50px 60px 20px 60px;

  input#title, textarea#description {
    @include appearence(none);
    background-color: transparent;
    outline: none;
    border: none;
  }

  input#title {
    width: 80%;
  }

  textarea#description {
    width: 100%;
    min-height: 50px;
  }

  .form-error {
    color: red;
  }
}
