<!--
  Template for the navigation bar. The navigation bar makes
  use of bootstrap to provide options to add task and change the view.
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo-List</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/addNewTask" id="new-task" class="nav-link">Add new task</a>
      </li>
      <li class="nav-item dropdown">
        <label class="nav-link dropdown-toggle" id="view" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</label>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <label id="all-tasks" class="dropdown-item"><input type="radio" name="All tasks" autocomplete="off"> All tasks</label>
            <label id="complete-tasks" class="dropdown-item"><input type="radio" name="All tasks" autocomplete="off"> Complete tasks</label>
            <label id="incomplete-tasks" class="dropdown-item"><input type="radio" name="All tasks" autocomplete="off"> Incomplete tasks</label>
        </div>
      </li>
    </ul>
  </div>
</nav>
