<!--
Task template. Contains the html code used for each
task block.
-->

<div class="col-12">
  <div id="taskItem-{{ taskDetails.id }}" class="task jumbotron">
    <div class="actions">
      <div data-view="info">
        {% if taskDetails.completed %}
          <button id="complete" type="button" class="btn btn btn-outline-danger btn-sm" aria-label="Complete">
            <i class="fas fa-undo"></i>
            Mark as incomplete
          </button>
        {% else %}
          <button id="incomplete" type="button" class="btn btn btn-outline-success btn-sm" aria-label="Incomplete">
            <i class="fas fa-check"></i>
            Mark as complete
          </button>
        {% endif %}

        <button id="edit" type="button" class="btn btn btn-outline-dark btn-sm" aria-label="Edit">
          <i class="fas fa-pencil-alt"></i>
          Edit
        </button>

        <button id="delete" type="button" class="btn btn btn-outline-dark btn-sm" aria-label="Delete">
          <i class="fas fa-times"></i>
          Remove
        </button>
      </div>

      <div data-view="edit">
        <button id="cancel-edit" type="button" class="btn btn btn-outline-danger btn-sm" aria-label="Cancel">
          <i class="fas fa-times"></i>
          Cancel
        </button>

        <button id="submit-edit" type="button" class="btn btn btn-outline-success btn-sm" aria-label="Submit">
          <i class="fas fa-check"></i>
          Submit
        </button>
      </div>

    </div>

    <div class="row">
      <div class="col-12" data-view="info">
          <h4 class="lead">{{ taskDetails.title }}</h4>
          <hr class="my-4">
          <p>{{ taskDetails.description }}</p>
      </div>
      <div class="col-12" data-view="edit">
        <input placeholder="enter title..." type="text" name="title-input" class="task-input"/>
        <hr class="my-4">
        <textarea placeholder="enter description..." name="description-input" class="task-input"></textarea>
      </div>
    </div>
  </div>
</div>
