<!--
Task template. Contains the html code used for each
task block.
-->

<div class="col-12">
  <div id="taskItem-{{ taskDetails.id }}" class="task jumbotron">
    <div class="actions">
      {% if taskDetails.completed %}
        <button id="complete" type="button" class="btn btn btn-outline-danger btn-sm" aria-label="Complete">
          <i class="fas fa-undo"></i>
          Mark as incomplete
        </button>
      {% else %}
        <button id="incomplete" type="button" class="btn btn btn-outline-success btn-sm" aria-label="Incomplete">
          <i class="fas fa-check"></i>
          Mark as complete
        </button>
      {% endif %}

      <button id="edit" type="button" class="btn btn btn-outline-dark btn-sm" aria-label="Edit">
        <i class="fas fa-pencil-alt"></i>
        Edit
      </button>

      <button id="delete" type="button" class="btn btn btn-outline-dark btn-sm" aria-label="Delete">
        <i class="fas fa-times"></i>
        Close
      </button>
    </div>

    {% if edit %}

    {% else %}
    <div class="row">
      <div class="col-12">
        <h4 class="lead">{{ taskDetails.title }}</h4>
        <hr class="my-4">
        <p>{{ taskDetails.description }}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
